<h2>Swedish Chef's</h2>
<h1>Fyurgen Byurgers</h1>

<img class="chef-img" src="assets/images/chef.png" alt="swedish chef">

{{!-- Bootstrap modal --}}
<div class="modal fade" id="img-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="false">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<div class="burger-wrapper">

  <div class="burgers-ready">
    <div class="underline">
      <h3>Byurgers ready to eat</h3>
    </div>


    <ul>
      {{#each data}}
        {{> burger-block devoured=true}}
      {{/each}}
    </ul>    
  </div>

  <div class="burgers-eaten">
    <div class="underline">
      <h3>Byurgers eaten</h3>
    </div>

    <ul>
      {{#each data}}
          {{> eaten-block devoured=false}}
      {{/each}}
    </ul>
  </div>

</div>
<div class="rules-text">
  <p>Order all you want, but once you're full, you can't order any more. You can finish eating all you've ordered, but be careful, you might &nbsp;<span id="splode-red">explode!</span></p>
  <p>If you leave with burgers still in your queue, we'll donate them to charity.</p>
</div>


<div class="order-form">
  {{> order-block}}
</div>