* {
  box-sizing: border-box;
}

html {
  font-family: 'Handlee', Arial, Helvetica, sans-serif;
  text-align: center;
  color: #fbff00;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: linear-gradient(#000, #ff7b0094);
}

.main-content {
  flex: 1 0 auto;
  font-family: 'Handlee', Arial, Helvetica, sans-serif;
  text-align: center;
  color: #fbff00;
}

h1 {
  color: #0dff00;
  font-family: 'Playfair Display SC', 'Times New Roman', Times, serif;
  font-size: 5em;
  font-weight: bold;
  line-height: .8;
  margin: 0 0 30px 0;
  text-align: center;
}

h2 {
  margin: 20px 0 0 0;
  font-size: 2.2em;
}

/* .order-form h2 {
  margin-bottom: -20px;
} */

h3 {
  font-size: 1.5em;
}

.underline {
  width: 250px;
  margin: 0 auto 10px auto;
  border-bottom: 2px solid #b700ff;
}

h4 {
  font-size: 1.3em;
  margin-bottom: 5px;
}

label {
  display: block;
  margin-top: 5px;
}

#add-burger, #add-customer {
  margin-top: 10px;
}

.chef-img {
  height: 200px;
  /* margin-bottom: -5px; */
}

.esplode-img {
  max-width: 400px;
}

.modal-content {
  background: #111;
}

/* .modal-body {
  background: 
} */

.burger-wrapper {
  display: flex;
  min-height: 300px;
  width: 800px;
  margin: auto;
  text-align: left;
  border: 1px solid #b700ff;
  background: #ffb7007e;
  padding: 20px 0;
}

.warning-text {
  margin: 20px auto;
  max-width: 800px;
}

.warning-text p {
  font-size: 17px;
  margin: 5px;
  text-shadow: 0 0 20px #000000;
  color: #fbff00;
}

.burgers-ready, .burgers-eaten {
  width: 400px;
  min-height: 200px;
  margin: 0 auto;
}

.burger-wrapper h3 {
  text-align: center;
  margin: 0;
}

button, #add-burger, #add-customer {
  font-size: 12px;
  background: #00ffd0;
  color: #111;
  margin: 2px 0;
  border-radius: 10px;
}

ul {
  margin: 0;
}

ul>li>ul {
  margin-left: -10px;
}

.burger-li {
  display: inline-block;
  width: 200px;
}

#flash-red {
  font-size: 22px;
  font-weight: bold;
  color: #ce0000;  
  text-shadow: 0 0 20px #ffffff;
}

.full-warning {
  animation: blink 1s;
  animation-iteration-count: infinite;
  color: #ff0000;
  font-weight: bold;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.exit-btn-div {
  float: right;
  vertical-align: middle;
}

li p, .li-div {
  margin: 16px 0;
  display: inline-block;
  width: 90%;
  padding: 10px 20px;
  border: 1px solid blue;
  border-radius: 10px;
  background-color: #242424;
  color: #ff6a6a;
}

.order-form input {
  display: block;
  margin: auto;
}

#add-burger, #add-customer {
  font-family: Arial, Helvetica, sans-serif;
  margin: 5px auto 0 auto;
}

.devour, .exit {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 10px;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  25% {
    opacity: .3;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: .3;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 850px) {
  .burger-wrapper {
    display: block;
    width: 400px;
  }
  .warning-text {
    width: 400px;
  }
}

@media (max-width: 450px) {
  .burger-wrapper {
    display: block;
    width: 300px;
  }
  .warning-text {
    width: 290px;
  }
  .warning-text p {
    font-size: 15px;
  }
  .burgers-ready, .burgers-eaten {
    width: 300px;
  }
  li p {
    width: 160px;
    font-size: 12px;
  }
  button, #add-burger, #add-customer {
    font-size: 9px;
  }
  h1 {
    font-size: 3.5em;
  }
  h2 {
    font-size: 1.8em;
  }
  h3 {
    font-size: 1.2em;
  }
}

@media (max-width: 340px) {
  .burger-wrapper {
    width: 290px;
  }
  .burgers-ready, .burgers-eaten {
    width: 290px;
  }
  li p {
    width: 150px;
    font-size: 11px;
  }
  button, #add-burger, #add-customer {
    font-size: 9px;
  }
  h1 {
    font-size: 3.5em;
  }
  h2 {
    font-size: 1.6em;
  }
  h3 {
    font-size: 1.2em;
  }
}