  <h3>Customer Registration</h3>
  <form class="create-form">
    <div class="form-group">
      <label for="diner-name">Name:</label>
      <input type="text" id="diner-name" name="diner-name">
    </div>
    <input type="submit" value="Submit" id="add-burger">
  </form>