<li>
  <div class="li-div">
      Eaten by {{diner.diner_name}} {{#if diner.full}} ( full! ) {{/if}}
    <div class="exit-btn-div">
      <button class="exit" data-id="{{diner.id}}">I'm done</button>
    </div>
  </div>

  <ul>
    {{#each burgers}} {{#if devoured}}
    <li>
      <div class="burger-li">
        {{id}}. {{burger_name}}
      </div>
    </li>
    {{/if}} {{/each}}
  </ul>

</li>